@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
}
<h2>Welcome to Job4Bit</h2>

<ul>
    @Html.ActionLink("Graduates", "Login", "Graduate")
</ul>
<ul>
    @Html.ActionLink("Employers","Login", "Employer")
</ul>
<ul>
    @Html.ActionLink("Site Supervisor","Login", "Supervisor")
</ul>

