@{
    ViewBag.Title = "Access Denied";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
}

<h2>Access Denied</h2>
<h3>
    Your login is time out, please return to @Html.ActionLink("Main Page", "Index", "Home")
     and try to login again.

</h3>
<h3>If you don't have access to this account, please contact Supervisor to add additional role, or register as a new user.</h3>
