@model MvcApplication1.Models.ViewModels.PasswordRetrieval

@{
    ViewBag.Title = "ForgetPassword";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Forget Password</h2>
<br />
<h3>@ViewBag.message</h3>

@using (Html.BeginForm())
{
     @Html.ValidationSummary()
    <h3>Please input your username here, an email with your passord will be sent to your registered email address.</h3>
    @Html.TextBoxFor(c => c.UserName);
    <input type="submit" value="Retrieve Password" />
}
