@{
    ViewBag.Title = "Index";
    
}

<h2>Welcome to student Home Page</h2>

<ul>
    @Html.ActionLink("View & Edit profile", "GraduateProfile")
</ul>
<ul>
    @Html.ActionLink("View & Edit CV", "cv")
</ul>
<ul>
    @Html.ActionLink("View & Edit Cover Letter", "cl")
</ul>

