@model MvcApplication1.Models.ViewModels.Account
@{
    ViewBag.Title = "Student Login";
}

<h2>Student Login</h2>
@using (Html.BeginForm())
{
    <ol>
        <li>
            @Html.LabelFor(c=>c.UserName)
            @Html.TextBoxFor(c=>c.UserName)
        </li>
        <li>
            @Html.LabelFor(c=>c.Password)
            @Html.PasswordFor(c=>c.Password)
        </li>
    </ol>
    <input type="submit" value="Login" />
}