@{
    ViewBag.Title = "RegistrationCompleted";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Registration Completed</h2>
<h3>Site Supervisor will go though your account details, and activate your account. An notification email will send to you once your account is activated.</h3>
