@model MvcApplication1.Models.ViewModels.PasswordRetrieval

@{
    ViewBag.Title = "ForgetPassword";
}

<h2>ForgetPassword</h2>
<br />
<h3>@ViewBag.message</h3>

@using (Html.BeginForm())
{
     @Html.ValidationSummary()
    <h3>Please input your username here</h3>
    @Html.TextBoxFor(c => c.UserName);
    <input type="submit" value="Retrieve Password" />
}
