@{
    ViewBag.Title = "JobCreated";
    Layout = "~/Views/Shared/_LayoutEmployer.cshtml";
}

<h2>Job Created</h2>
<h3>This job has been created, it will be listed after activation from site supervisor.</h3>

<div>
    @Html.ActionLink("Back", "ShowActivatedJobs")
</div>
