@{
    ViewBag.Title = "InvitationSent";
    Layout = "~/Views/Shared/_LayoutEmployer.cshtml";
}

<h2>Invitation Sent</h2>

<h3>
    Your invitation is sent, the candidate will get an email notification, and submit a cover letter from his/her student account.
</h3>
<div>
    @Html.ActionLink("Back", "Candidate")
</div>